<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 该文件存放CRUD的sql语句 -->
<mapper namespace="com.ibm.mapper.UserRoleMapper">

	<select id="findByName" parameterType="string"
		resultType="com.ibm.entity.UserRole">
		select
		*
		from
		usertable u,roletable r where name = #{value}
		and u.roleID=r.roleID
	</select>
	<insert id="addUser" parameterType="com.ibm.entity.User">
		insert into
		usertable(userID,roleID,name,email,password)
		values(#{userID},#{roleID},#{name},#{email},#{password})
	</insert>
	<update id="updateUser" parameterType="com.ibm.entity.User">
		update usertable set name=#{name},email=#{email},password=#{password}
		where userID=#{userID}
	</update>
</mapper>